In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import pathlib as path
import numpy as np

In [10]:
#os.listdir('./resources')

['.DS_Store', '2007-2020-PIT-Estimates-by-state.xlsx', 'homeless_texas.xlsx']

In [11]:
#df = pd.read_excel('./resources/2007-2020-PIT-Estimates-by-state.xlsx', sheet_name="2020")

In [13]:
years = [2013,2014,2015,2016,2017,2018,2019,2020]
years_columns_list = {}
path = pd.ExcelFile("./resources/2007-2020-PIT-Estimates-by-state.xlsx")

for year in years:
    df = pd.read_excel(path, sheet_name=str(year))

    #get all the column names from all the sheets
    column_names = list(df.columns)
    
    column_numbers_in_each_year = {}

In [14]:
age_2013 = pd.read_excel(path, '2013')
age_2014 = pd.read_excel(path, '2014')
age_2015 = pd.read_excel(path, '2015')
age_2016 = pd.read_excel(path, '2016')
age_2017 = pd.read_excel(path, '2017')
age_2018 = pd.read_excel(path, '2018')
age_2019 = pd.read_excel(path, '2019')
age_2020 = pd.read_excel(path, '2020')

In [15]:
#Get all the data for Texas

age_2013.fillna('', inplace=True)
tx13 = age_2013[age_2013['State'].str.startswith('TX')].reset_index(drop=True)
tx13.insert(0,"Year",[2013])


age_2014.fillna('', inplace=True)
tx14 = age_2014[age_2014['State'].str.startswith('TX')].reset_index(drop=True)
tx14.insert(0,"Year",[2014])

age_2015.fillna('', inplace=True)
tx15 = age_2015[age_2015['State'].str.startswith('TX')].reset_index(drop=True)
tx15.insert(0,"Year",[2015])

age_2016.fillna('', inplace=True)
tx16 = age_2016[age_2016['State'].str.startswith('TX')].reset_index(drop=True)
tx16.insert(0,"Year",[2016])

age_2017.fillna('', inplace=True)
tx17 = age_2017[age_2017['State'].str.startswith('TX')].reset_index(drop=True)
tx17.insert(0,"Year",[2017])

age_2018.fillna('', inplace=True)
tx18 = age_2018[age_2018['State'].str.startswith('TX')].reset_index(drop=True)
tx18.insert(0,"Year",[2018])

age_2019.fillna('', inplace=True)
tx19 = age_2019[age_2019['State'].str.startswith('TX')].reset_index(drop=True)
tx19.insert(0,"Year",[2019])

age_2020.fillna('', inplace=True)
tx20 = age_2020[age_2020['State'].str.startswith('TX')].reset_index(drop=True)
tx20.insert(0,"Year",[2020])

In [61]:
df_tx13 = tx13.iloc[:, :7].copy()
df_tx14 = tx14.iloc[:, :7].copy()
df_tx15 = tx15.iloc[:, :7].copy()
df_tx16 = tx16.iloc[:, :7].copy()
df_tx17 = tx17.iloc[:, :7].copy()
df_tx18 = tx18.iloc[:, :7].copy()
df_tx19 = tx19.iloc[:, :7].copy()
df_tx20 = tx20.iloc[:, :7].copy()

In [62]:
values_2013 = list(df_tx13.values)
values_2014 = list(df_tx14.values)
values_2015 = list(df_tx15.values)
values_2016 = list(df_tx16.values)
values_2017 = list(df_tx17.values)
values_2018 = list(df_tx18.values)
values_2019 = list(df_tx19.values)
values_2020 = list(df_tx20.values)

In [63]:
all_year_list = [values_2013, values_2014, values_2015, values_2016, values_2017, values_2018, values_2019, values_2020]

In [64]:
year[0]

array([2013, 'TX', 12, 29615, 5478, 2056], dtype=object)

In [65]:
list1 = []
list2 = []
list3 = []
list4 = []
list5 = []
list6 = []
list7 = []

In [66]:
for year in all_year_list:
    val1, val2, val3, val4, val5, val6, val7 = year[0]
    list1.append(val1)    
    list2.append(val2)
    list3.append(val3)
    list4.append(val4)
    list5.append(val5)
    list6.append(val6)
    list7.append(val7)

In [69]:
complete_df_tx = pd.DataFrame({'Year':list1, 'State': list2, 'Number of CoCs': list3, 'Overall Homeless': list4, 'Overall Homeless - Under 18':list5, 'Overall Homeless - Age 18 to 24':list6, 'Overall Homeless - Over 24':list7})

In [70]:
complete_df_tx

,Year,State,Number of CoCs,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24
0,2013,TX,12,29615,5478,2056,22081
1,2014,TX,12,28495,5873,2143,20479
2,2015,TX,11,23678,4529,1712,17437
3,2016,TX,11,23122,4615,1596,16911
4,2017,TX,11,23548,4286,1750,17512
5,2018,TX,11,25310,4101,1671,19538
6,2019,TX,11,25848,4249,1523,20076
7,2020,TX,11,27229,4048,1663,21518

In [18]:
complete_df_ca

In [ ]:
# D - 4 - Overall Homeless - Under 18, 2013
# E - 5 - Overall Homeless - Age 18 to 24, 2013
# F - 6 - Overall Homeless - Over 24, 2013